<div class="connexion-flex-wrapper">
  <!-- Colonne image -->
  <div class="connexion-image-side">
    <img
      [src]="connexionType === 'admin'
    ? 'assets/img/connexion-admin.jpg'
    : 'assets/img/connexion-stagiaire.jpg'"
      [alt]="connexionType === 'admin' ? 'Connexion administrateur' : 'Connexion stagiaire'"
      style="max-width: 300px; border: 2px solid green;"
    />

  </div>

  <!-- Colonne formulaire -->
  <div class="login-container">
    <h2>Bienvenue dans le portail de connexion de NovaTech Academy.</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Identifiant ou adresse email</label>
        <input id="email" formControlName="email" type="email" autocomplete="username" />
      </div>

      <div>
        <label for="password">Mot de passe</label>
        <div style="display: flex; gap: 10px;">
          <input
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
          />
          <button type="button" (click)="showPassword = !showPassword">
            {{ showPassword ? 'Masquer' : 'Afficher' }}
          </button>
        </div>

      </div>

      <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
      <a routerLink="/mot-de-passe-oublie">Mot de passe oublié ?</a>
      <div *ngIf="error() as errorMsg" class="error">{{ errorMsg }}</div>
    </form>

    <!-- POPUP première connexion -->
    <app-popup-changement-mdp
      *ngIf="popupVisible"
      [email]="popupEmail"
      (close)="onClosePopup()">
    </app-popup-changement-mdp>
  </div>
</div>
